@charset "UTF-8";
* {
  font-family: sans-serif;
  color: white;
}

body {
  background-color: #0c243c;
}

.sidebar {
  width: 200px;
  background: #0c243c;
  color: white;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  border: 2px solid #01c4c7;
}

.sidebar-brand {
  padding: 10px;
  text-align: center;
  font-size: large;
  color: black;
  background-color: #01c4c7;
}

.sidebar-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.sidebar-menu ul li {
  margin-bottom: 10px;
}

.sidebar-menu ul li a {
  /*color: black;*/
  text-decoration: none;
  padding: 10px;
  display: block;
  border-bottom: 1px solid #01c4c7;
}

.sidebar-menu ul li a:hover {
  background: #01c4c7;
}

.sidebar-menu ul li a.active {
  background: #01c4c7;
  color: #0c243c;
}

.table-container {
  margin-left: 220px;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.table-container table tbody tr td{
	padding: 10px;
  text-align: left;
}
th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #01c4c7;
  color: #0c243c;
}

select {
  width: 50%;
  padding: 5px;
  margin: 5px 0;
}

.assign-button {
  background-color: #01c4c7;
  color: black;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #01c4c7;
}